/*css reset*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*fim css reset*/

html,body{
  font-family: 'Ubuntu', sans-serif;
  width:100vw;
  height:100vh;
  overflow: hidden;
  background: linear-gradient(0deg, rgba(37,78,176,1) 0%, rgba(193,77,137,1) 100%) no-repeat;
}

.container{
  position: absolute;
  top: 50%; right: 50%;
  transform: translate(50%,-50%);
  background:#fff;
  display: flex;
  flex-direction: column;
  width:300px;
  padding:40px 40px 30px 40px;
  border-radius:3px;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
}

.container>h1{
  font-size: 1.5em;
  text-transform: uppercase;
  align-self: center;
  font-weight: 900;
  margin:0 0 25px 0;
}

form{
  display:flex;
  flex-direction: column;
}

input#email{
  background-color: #E7E7E7;
  padding-left:30px;
  background-image: url("../img/icon-envelope.svg");
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: 20px 10px;
  border:1px solid #fff;
  transition: border 0.5s ease-in-out;
  height:40px;
  margin-top:15px;
  text-indent: 20px;
  border-radius: 3px;
  opacity: 0.3;
}

input#senha{
  background-color: #E7E7E7;
  padding-left:30px;
  background-image: url("../img/icon-cadeado.svg");
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: 20px 10px;
  border:1px solid #fff;
  transition: border 0.5s ease-in-out;
  height:40px;
  margin-top:15px;
  text-indent: 20px;
  border-radius: 3px;
  opacity: 0.3;
}

input#email:hover, input#senha:hover{
  border: 1px solid #010101;
  transition: border 0.5s ease-in-out;
}


input::placeholder{
  font-weight: 800;
  letter-spacing: 1px;
}

fieldset{
  border: none;
}

.remember-data{
  margin: 10px 0 20px 0;
}

 /*custom checkbox style*/
 .checkbox-label {
  display: inline-block;
  position: relative;
  margin: auto;
  cursor: pointer;
  font-size: 22px;
  line-height: 24px;
  height: 24px;
  width: 24px;
  clear: both;
}

.checkbox-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkbox-label .checkbox-custom {
  position: absolute;
  top: 5px;
  left: 1px;
  height: 15px;
  width: 15px;
  background-color: transparent;
  border-radius: 5px;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  border: 2px solid #C34C89;
}


.checkbox-label input:checked ~ .checkbox-custom {
  background-color: #C34C89;
  border-radius: 5px;
  -webkit-transform: rotate(0deg) scale(1);
  -ms-transform: rotate(0deg) scale(1);
  transform: rotate(0deg) scale(1);
  opacity:1;
  border: 2px solid #C34C89;
}


.checkbox-label .checkbox-custom::after {
  position: absolute;
  content: "";
  left: 12px;
  top: 12px;
  height: 0px;
  width: 0px;
  border-radius: 5px;
  border: solid #fff;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(0deg) scale(0);
  -ms-transform: rotate(0deg) scale(0);
  transform: rotate(0deg) scale(0);
  opacity:1;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}


.checkbox-label input:checked ~ .checkbox-custom::after {
  -webkit-transform: rotate(45deg) scale(1);
  -ms-transform: rotate(45deg) scale(1);
  transform: rotate(45deg) scale(1);
  opacity:1;
  left: 4px;
  top: 0;
  width: 5px;
  height: 10px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  background-color: transparent;
  border-radius: 0;
}
/*end custom checkbox style*/
.remember-data>span{
  color:#bababa;
  position: relative;
  top:-3px;
  left:3px;
  height:24px;
  line-height: 24px;
}

 .btn-submit{
  padding:15px;
  background-color: #C34C89;
  color:#fff;
  border:none;
  letter-spacing: 1.5px;
  cursor: pointer;
  margin-bottom: 30px;
  border-radius: 3px;
  transition: background-color 0.3s ease-in-out;
}

.btn-submit:hover{
  background-color: #e56bac;
  transition: background-color 0.3s ease-in-out;
}

.container>p{
  align-self: center;
  color:#bababa;
}

.btn-social{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width:100%;
  margin:20px 0 80px 0;
}

.facebook{
  display: flex;
  align-items: center;
  justify-content: center;
  padding:10px 0;
  width:49%;
  color:#415993;
  font-weight: 800;
  background-color: #fff;
  border:1px solid #bababa;
  cursor: pointer;
  border-radius:2px;
  margin:0;
  font-family: 'Ubuntu', sans-serif;
  letter-spacing: 1px;
  transition: transform 0.1s ease-in-out;
}

.google{
  display: flex;
  align-items: center;
  justify-content: center;
  padding:10px 0;
  width:49%;
  color:#010101;
  font-weight: 800;
  background-color: #fff;
  border:1px solid #bababa;
  cursor: pointer;
  border-radius: 3px;
  font-family: 'Ubuntu', sans-serif;
  letter-spacing: 1px;
  transition: transform 0.1s ease-in-out;
}

.facebook:hover,.google:hover{
  transform:scale(1.03);
  transition: transform 0.1s ease-in-out;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
}

.facebook>span{
  margin-right:10px;
  display: inline-block;
  width:15px;
  height:15px;
  background-image: url(../img/icon-facebook.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.google>span{
  margin-right:10px;
  display: inline-block;
  width:15px;
  height:15px;
  background-image: url(../img/icon-google.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.container>.signup>a{
  color:#bababa;
  transition: color 0.3s ease-in-out;
  margin-left:5px;
}

.container>.signup>a:hover{
  color:#010101;
  transition: color 0.3s ease-in-out;
}

.background-circle{
  position: absolute;
  bottom:-1420px;
  left:-750px;
  width:2000px;
  height:2000px;
  border-radius:52%;
  background-color: #010101;
  opacity:0.1;
}

/* media query to fix mobile scrolling bug (background circle)*/
@media(max-width:475px){
  .background-circle{
    display: none;
  }  
} 